<!DOCTYPE html>
<html>
    <title>Rock Paper Scissor</title>
    <link href="style.css" rel="stylesheet" type="text/css">
</html>
<body>
    <div>
        <div></div>
        <div></div>
    </div>
</body>